@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

    main{
        margin: auto;
        margin-top: 200px;
        background-color: #d1e6ff;
        width: 600px;
        border-radius: 20px;
        padding: 2rem;
        min-height: 200px;

        h1{
            margin-bottom: 2rem;
        }

        input{
            padding: 0.8rem;
            border: none;
            border-radius: 15px;
            margin-top: 1rem;
        }
        .todo-item{
            list-style: none;
            width: 100%;
            background-color: rgb(255, 247, 255);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-radius: 12px;
            margin-bottom: 1rem;


    
            .delete{
                background-color: rgb(255, 131, 150);
                border: none;
                border-radius: 100px;
                height: 2.2rem;
                width: 2.2rem;
                
            }

            label{
                display: flex;
                align-content: center;

                .label-container{
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    .submitted-time{
                        font-weight: 400;
                        font-size: 14px;
                    }
                }

                .label-text{
                    margin-left: 1rem;
                }

                input[type=checkbox]{
                    appearance: none;
                    margin-top: 0;
                    width: 20px;
                    height: 20px;
                    position: relative;
                    border: 1px solid rgb(107, 167, 236);
                }
                input[type=checkbox]:checked{
                    background-color: rgb(107, 167, 236);
                }
                input[type=checkbox]:checked::after{
                    position: absolute;
                    left: 7px;
                    top: 5px;
                    content: '✔';
                    color: white;
                }
            }
        }

        #time-input{
            width: 120px;
            margin-right: 1rem;
        }
        .add{
            background-color: rgb(107, 167, 236);
            border: none;
            border-radius: 12px;
            padding: 0.8rem;
            font-weight: 600;
            
        }
        [aria-disabled = "true"]{
            opacity: 0.5;
        }
        [aria-disabled = "false"]{
            opacity: 1;
        }

        #todo-count{
            margin-top: 3rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        label{
            font-weight: 600;
        }
    }
    .deleted-container{
        background-color: #d1e6ff;
        width: 600px;
        margin: auto;
        margin-top: 100px;
        border-radius: 12px;
        padding: 1rem;
        .accordion{
            width: 100%;
            text-align: left;
            border: none;
            font-family: 'poppins';
            font-weight: 600;
            font-size: 1rem;
            background-color: #d1e6ff;     
             }
        .open-accordion{
            display: none;
            width: 100%;
            margin-top: 2rem;  

            #deleted-items{
           
                width: 100%;
                border-radius: 12px;
               

        }


            }      
    }


    .deleted-item{
        list-style: none;
        padding: 1rem 1rem;
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-radius: 12px;
        margin-bottom: 1rem;

        .button-container{
            display: flex;
            justify-content: space-between;
            width: 150px;

            .move-back{
                padding: 0.3rem;
                font-family: 'poppins';
                border: none;
                border-radius: 4px;
                background-color: rgb(168, 170, 236);
                font-weight: 400;
                color: rgb(62, 62, 62);

                
            }
            .delete{
                background-color: rgb(255, 131, 150);
                border: none;
                border-radius: 100px;
                height: 2.2rem;
                width: 2.2rem;
            }
        }
      
    }


    
          
}